.fb {
  height: 20px;
  width: 20px;
  padding-left: 10px;
  margin-top: 3px;
}
.t1 {
  display: flex;
  justify-content: space-between;
  background-color: lightskyblue;
  height: 30px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.tell {
  margin-top: 7px;
  font-size: 14px;
  margin-right: 10px;
}
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
.logo {
  height: 130px;
  width: 130px;
  margin-left: -160px;
  margin-top: -30px;
  padding-bottom: 10px;
}
.titlecard {
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
  height: 80px;
  border-bottom: red;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
h3 {
  margin-top: 20px;
  box-sizing: border-box;
  height: 50px;
}

.video {
  height: 1190px;
  width: 100%;
  margin-top: -182px;
}
.h3:hover {
  color: white;
  border-bottom: 4px solid orange;
}
.awd {
  position: relative;
  text-align: center;
}
h4 {
  font-size: 40px;
  font-weight: bold;
  margin-top: -180px;
}

.class1 {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}
.Main1 {
  background-color: solid wheat;
}
.tra1 {
  height: 170px;
  border-radius: 50px;
  padding: 30px;
  border: 5px solid black;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.tra2 {
  border-radius: 50px;
  padding: 30px;
  border: 5px solid black;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.tra3 {
  border-radius: 50px;
  padding: 30px;
  border: 5px solid black;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.bg-img {
  background-image: url(/images/lite\ theme.jpg);
  height: 450px;
  margin-top: 64em;
}
.img2 {
  height: 280px;
  width: 280px;
}
.pra {
  display: flex;
}
.head {
  margin-top: 120px;
  margin-left: 20px;
}
.empty-img {
  background: url("../images/Blue\ and\ Orange\ Simple\ Explore\ The\ World\ Youtube\ Thumbnail.png");
  height: 53em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.display-column {
  display: flex;
  flex-direction: column;
}
.formt {
  display: flex;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
}
.head1 {
  background-color: #ffae42;
  height: 20em;
}
.h1 {
  text-align: center;
  font-size: 2.2em;
  padding-top: 2em;
}
.imgt {
  border-radius: 7em;
  height: 8em;
  margin-left: 5em;
  width: 8em;
  border: 20px solid white;
}
.imgt1 {
  display: flex;
  justify-content: center;

  margin-top: -7em;
}
s .h4 {
  text-align: center;
}
.p4 {
  width: 6em;
}
.section3 {
  display: flex;
  justify-content: center;
  gap: 9em;
  margin-left: 5em;
}
.cotainer1 {
  display: flex;
  flex-direction: column;
}
.mini-container-1 {
  display: flex;
  justify-content: center;
  gap: 4em;
  margin-top: 60px;
}
.mc {
  height: 160px;
  width: 160px;
  border-radius: 6em;
  border: 20px solid white;
}
.hc1 {
  text-align: center;
  font-size: 2.2em;
  margin-top: 80px;
}

/* capsule container */
.veera {
  width: 225px;
  margin: 50px 140px;
  height: auto;
  background-color: white;
  border-radius: 1000px;
}
.image {
  margin: 25px;
  border-radius: 1000px;
}
.moc1 {
  border-radius: 15em;
  height: 150px;
  width: 150px;
  margin-top: 50px;
}
.moc3 {
  width: 200px;
  height: 150px;

  align-items: center;
}
.mini-h3 {
  font-size: 2.2em;
  text-align: center;
  padding-top: 5em;
}
.moc {
  height: 30em;
  width: 200px;
  background-color: white;
  text-align: center;
  margin-top: 50px;
  border-radius: 10em;
}
.mainc {
  display: flex;
  justify-content: center;
  gap: 8em;
  margin-top: 80px;
}
#mh {
  margin-top: 2em;
  padding-bottom: 5em;
}
.sec1 {
  background-color: #ffae42;
  margin-top: -8em;
}
.ds1 {
  height: 150px;
  width: 150px;
  border-radius: 5.2em;
  margin-top: -70px;
  border: 15px solid white;
}
.dcs {
  display: flex;
  justify-content: center;
  gap: 6em;
}
.ds2 {
  width: 150px;
  text-align: center;
  margin-top: 40px;
}
.sec2 {
  background-color: white;
}
.mh3 {
  margin-top: 2em;
}
.fc {
  height: 370px;
  background-color: aliceblue;
  font-size: 2.2em;
  text-align: center;

  bottom: -500px;
  width: 1487px;
  padding-top: 20px;
  margin-top: 150px;
}

.footer-rows {
  font-size: 1em;
}
.footer-rows-main {
  display: flex;
  justify-content: space-around;
}
.pcs {
  width: 9em;
}
.pcla {
  font-size: 20px;
}
