* {
  margin: 0;
  padding: 0;
}
.place {
  display: flex;
  flex-direction: column;
}
body {
  background-color: aliceblue;
}
.veera {
  width: 225px;
  margin: 50px 140px;
  height: auto;
  background-color: white;
  border-radius: 1000px;
}
.image {
  margin: 25px;
  border-radius: 1000px;
}
button {
  margin: 60px;
  margin-top: 10px;
  color: black;
  border-radius: 5px;
  padding: 8px 7px;
  background-color: orange;
}
.miniplace {
  display: flex;
}
